<div class="col-sm-4 text-color photo-rating">
    <div class="photo-name">@item.Name</div>
    <img src="~/Photo/View?id=@item.Id" alt="No avatar" class="photo-position photo-style photo" />
    <div class="row">
        <div class="col-sm-8 photo-info">
            <div>Load:@userLogic.GetUser(item.IdUserLoad).Login</div>
        </div>
        <div class="col-sm-4 rating-parent-element">
            <span class="glyphicon glyphicon-style glyphicon-chevron-up rating-up @if (score != null && score.Score == 1){<text>glyphicon-chevron-up-sucses</text>}"></span>
            <span class="count-rating">@item.AllScore</span>
            <span class="glyphicon glyphicon-style glyphicon-chevron-down rating-down @if (score != null && score.Score == -1){<text>glyphicon-chevron-down-sucses</text>}"></span>
            <div class="form-group">
                <input type="hidden" name="user-identity" class="user-identity" value="@Session["Id"]" />
                <input type="hidden" name="photo-identity" class="photo-identity" value="@item.Id" />
            </div>
        </div>
    </div>
</div>