@if (!User.Identity.IsAuthenticated)
{
    Response.SetStatus(HttpStatusCode.Unauthorized);
    return;
}
@if (IsPost)
{
    _BorisCompany_PhotoGallery.Interfaces.BLL.IUserBLL us = new _BorisCompany_PhotoGallery.BLL.PhotoLogic.UserLogic();

    string password = Request["password"];
    string password2 = Request["password2"];
    Guid id = (Guid)Session["Id"];

    if (password != password2)
    {
        Response.Redirect("~/user/PasswordChange?er=error");
    }

    if (password != "")
    {
        us.ChangePassword(id, password);
    }

    Response.Redirect("~/User/PasswordChange?er=false");
    return;
}
else
{
    Page.Title = "Change password";
    <div class="element-position element-style">
        <div class="row row-position">
            <div class="col-sm-12">
                @if (Request["er"] == "error")
                {
                    <div>
                        Passwords do not match
                    </div>
                }
                @if (Request["er"] == "false")
                {
                    <div>
                        Password changed is successful
                    </div>
                }
                <form action="~/User/PasswordChange" method="post" role="form">
                    <div class="form-group row">
                        <div class="col-sm-3 col-sm-offset-5">
                            <input type="text" class="form-control" id="password" placeholder="Enter new password" name="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3 col-sm-offset-5">
                            <input type="text" class="form-control" id="password2" placeholder="Enter new password again" name="password2">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-offset-5 col-sm-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        }
