@using _BorisCompany_PhotoGallery.Interfaces.BLL;
@using _BorisCompany_PhotoGallery.BLL.PhotoLogic;

@{
    IUserScoreBLL scoreLogic = new UserScoreLogic();
    IPhotoBLL photoLogic = new PhotoLogic();
    IUserBLL userLogic = new UserLogic();

    var user = userLogic.GetUser(Guid.Parse(Request["IdUser"]));
    Page.Title = user.Login;

}
<div class="element-position element-style">
    <div class="text-color text-center">@user.Login loaded photo:</div>
    <div class="row row-position" id="images">
        @foreach (var item in photoLogic.GetAllPhotoUsers(user.Id))
        {
            var score = scoreLogic.ScoreSearch(item.Id, (Guid)Session["Id"]);
            <div class="col-sm-4 text-color photo-rating">
                <img src="~/Photo/View?id=@item.Id" alt="No avatar" class="photo-position photo-style" />
                <div class="col-sm-4 col-sm-offset-8 rating-parent-element">
                    <span class="glyphicon glyphicon-style glyphicon-chevron-up rating-up @if (score != null && score.Score == 1){<text>glyphicon-chevron-up-sucses</text>}"></span>
                    <span class="count-rating">@item.AllScore</span>
                    <span class="glyphicon glyphicon-style glyphicon-chevron-down rating-down @if (score != null && score.Score == -1){<text>glyphicon-chevron-down-sucses</text>}"></span>
                    <div class="form-group">
                        <input type="hidden" name="user-identity" class="user-identity" value="@Session["Id"]" />
                        <input type="hidden" name="photo-identity" class="photo-identity" value="@item.Id" />
                    </div>
                </div>
                </div>
                }
            </div>
    </div>
